apiVersion: v1
kind: Service
metadata:
  name: keycloak
  labels:
    app: keycloak
    tier: backend
spec:
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: keycloak
  type: ClusterIP